<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Code is fun · fabrice1618</title>
  </head>
  <body>

        <div class="container">

            <header>
              <nav class="nav justify-content-center">
                <span class="navbar-brand mb-0 h1">Code is fun</span>
                <a class="nav-link active" href="/template">Home</a>
                <a class="nav-link" href="/template/profil.html">Profil</a>
                <a class="nav-link" href="/template/skills.html">Skills</a>
                <a class="nav-link" href="https://github.com/fabrice1618/code-battle">Code source</a>
              </nav>
            </header>

          <div class="row">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a class="nav-link active" href="/template/skills.html">Liste savoir-faire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/template/skills-competence.html">Nouvelle compétence</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/template/skills-savoirfaire.html">Nouveau savoir-faire</a>
              </li>
            </ul>
          </div>

          <div class="row">
            <h2>1 Frontend: Maquetter une application</h2>
          </div>
          <div class="row">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="card">
                  <div class="card-header">
                    <ul class="list-inline">
                      <li class="list-inline-item"><h5>Maquetter une application</h5></li>
                      <li class="list-inline-item"><a href="#" class="badge badge-secondary">Valider</a></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Construire la maquette de l'application optimisée pour chacun des équipements ciblés, l’enchaînement et la
                      composition des écrans, en français ou en anglais</p>
                    <a href="#" class="btn btn-primary">Effacer</a>
                    <a href="#" class="btn btn-primary">Modifier</a>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="card">
                  <div class="card-header">
                    <ul class="list-inline">
                      <li class="list-inline-item"><h5>Connaissance UML</h5></li>
                      <li class="list-inline-item"><span class="badge badge-pill badge-success">Success</span></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Connaissance du formalisme des cas d'utilisation et du diagramme d'état ou d’activité de la notation du
                      langage de modélisation unifié UML</p>
                    <a href="#" class="btn btn-primary">Effacer</a>
                    <a href="#" class="btn btn-primary">Modifier</a>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="card">
                  <div class="card-header">
                    <ul class="list-inline">
                      <li class="list-inline-item"><h5>RGPD</h5></li>
                      <li class="list-inline-item"><span class="badge badge-pill badge-success">Success</span></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Connaissance des réglementations en vigueur concernant la protection des données individuelles</p>
                    <a href="#" class="btn btn-primary">Effacer</a>
                    <a href="#" class="btn btn-primary">Modifier</a>
                  </div>
                </div>
              </li>

            </ul>
          </div>

          <div class="row">
            <h2>2 Frontend: Développer une interface responsive</h2>
          </div>
          <div class="row">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="card">
                  <div class="card-header">
                    <ul class="list-inline">
                      <li class="list-inline-item"><h5>HTML / CSS</h5></li>
                      <li class="list-inline-item"><a href="#" class="badge badge-secondary">Valider</a></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Connaissance des langages du développement web, tels que langage de balise et feuilles de style</p>
                    <a href="#" class="btn btn-primary">Effacer</a>
                    <a href="#" class="btn btn-primary">Modifier</a>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="card">
                  <div class="card-header">
                    <ul class="list-inline">
                      <li class="list-inline-item"><h5>GIT</h5></li>
                      <li class="list-inline-item"><span class="badge badge-pill badge-success">Success</span></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Utiliser un outil de gestion de version de code source</p>
                    <a href="#" class="btn btn-primary">Effacer</a>
                    <a href="#" class="btn btn-primary">Modifier</a>
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="card">
                  <div class="card-header">
                    <ul class="list-inline">
                      <li class="list-inline-item"><h5>HTML</h5></li>
                      <li class="list-inline-item"><span class="badge badge-pill badge-success">Success</span></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Structurer les pages selon les recommandations du W3C pour le web et le web mobile
                      Coder les pages web statiques et adaptables, y compris pour le web mobile, avec un langage de balise et
                      feuilles de style, en suivant les principes de qualité et dans un style défensif en veillant à rendre l’application
                      la plus résiliente possible</p>
                    <a href="#" class="btn btn-primary">Effacer</a>
                    <a href="#" class="btn btn-primary">Modifier</a>
                  </div>
                </div>
              </li>

            </ul>
          </div>

          <div class="row">
            <h2>3 Frontend: Développer une interface dynamique</h2>
          </div>
          <div class="row">
            <h2>4 CMS: Développer le frontend</h2>
          </div>
          <div class="row">
            <h2>5 Créer une base de données</h2>
          </div>
          <div class="row">
            <h2>6 Backend: Développer des composants d'accès aux données</h2>
          </div>
          <div class="row">
            <h2>7 Développer le backend</h2>
          </div>
          <div class="row">
            <h2>8 CMS: Dévelloper des composants</h2>
          </div>


              <footer>
                  <p>&nbsp;</p>
                <p class="d-flex justify-content-center align-middle" >Download &nbsp;<a href="#">XML savoir-faire</a>.&nbsp;Upload &nbsp;<a href="#">XML savoir-faire</a></p>
            </footer>
      
      </div>
    </div>      

   

  </body>
</html>