<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Code is fun · fabrice1618</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/template/tuxguitar.png" width="30" height="30" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/template/index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Extra...
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/template/profil.html">Profil</a>
                <a class="dropdown-item disabled" href="/template/profilexport.html">Exporter profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item disabled" href="/template/synchro.html">Synchronisation données</a>
                <a class="dropdown-item" href="/template/competence.html">Compétences</a>
                <a class="dropdown-item" href="/template/formation.html">Formations</a>
                <a class="dropdown-item" href="/template/groupe.html">Groupes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item disabled" href="/template/genac.html">Imprimer GENAC</a>
              </div>
            </li>
            <li class="nav-item dropdown" style="min-width: 20rem">
              <button class="btn btn-outline-success dropdown-toggle" type="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Connexion
              </button>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <form class="px-4 py-3">
                  <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                  </div>
                  <div class="form-group">
                    <label for="exampleDropdownFormPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="dropdownCheck">
                      <label class="form-check-label" for="dropdownCheck">
                        Remember me
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
              </div>
            </li>
          </ul>
          <span class="navbar-text">
            Code is fun
          </span>
        </div>
      </nav>
    </div>
                
    <div class="container">
      <div class="card" style="margin-top: 2rem;margin-bottom: 2rem;">
        <div class="card-header">
          <div class="row">
            <h3 class="col-md-6">Profil de Fabrice Guichard</h3>
            <ul class="nav nav-pills col-md-6">
              <li class="nav-item">
                <a class="nav-link active" href="/template/fabrice1618-profil.html">profil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="/template/fabrice1618-competence.html">Compétences:</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/template/fabrice1618-competence.html?id=1">1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/template/fabrice1618-competence.html?id=2">2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/template/fabrice1618-competence.html?id=1">3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/template/fabrice1618-competence.html?id=1">4</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/template/fabrice1618-competence.html?id=1">5</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/template/fabrice1618-competence.html?id=1">6</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/template/fabrice1618-competence.html?id=1">7</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/template/fabrice1618-competence.html?id=1">8</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="card-body">
          <img src="/template/tuxguitar.png" class="rounded float-left" alt="Photo profil">
          <blockquote class="blockquote mb-0">
            <p>J'aime le code PHP backend et les architectures MVC</p>
          </blockquote>
        </div>

        <div class="card-body">
          <ul class="list-group list-group-horizontal-lg">
              <li class="list-group-item d-flex justify-content-between align-items-center">C1&nbsp;<span class="badge badge-success badge-pill">3</span></li>
              <li class="list-group-item d-flex justify-content-between align-items-center">C2&nbsp;<span class="badge badge-success badge-pill">5</span></li>
              <li class="list-group-item d-flex justify-content-between align-items-center">C3&nbsp;<span class="badge badge-success badge-pill">1</span></li>
              <li class="list-group-item d-flex justify-content-between align-items-center">C4&nbsp;<span class="badge badge-success badge-pill">3</span></li>
              <li class="list-group-item active">C5</li>
              <li class="list-group-item active">C6</li>
              <li class="list-group-item d-flex justify-content-between align-items-center">C7&nbsp;<span class="badge badge-success badge-pill">2</span></li>
              <li class="list-group-item d-flex justify-content-between align-items-center">C8&nbsp;<span class="badge badge-success badge-pill">3</span></li>
            </ul>
            <p>&nbsp;</p>
            <p class="lead d-flex justify-content-center align-middle">
              <a href="/template/skills.html" class="btn btn-lg btn-success">Voir 25 compétences</a>
            </p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Email : <a href="mailto://fabrice1618@gmail.com">fabrice1618@gmail.com</a></li>
        <li class="list-group-item">Github : <a href="https://github.com/fabrice1618">fabrice1618</a></li>
        <li class="list-group-item">Visit me : <a href="http://netsim.fabricatic.fr">Network Simulator</a></li>
      </ul>

      <div class="card-footer text-muted">
        <ul class="list-group list-group-horizontal-lg">
          <li class="list-group-item">HTML</li>
          <li class="list-group-item">CSS</li>
          <li class="list-group-item">SASS</li>
          <li class="list-group-item">JS</li>
          <li class="list-group-item">PHP</li>
          <li class="list-group-item">SQL</li>
          <li class="list-group-item">GNU/Linux</li>
          <li class="list-group-item">Docker</li>
        </ul>
      </div>

      </div>
    </div>

   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  </body>
</html>