<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Code is fun · fabrice1618</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/template/tuxguitar.png" width="30" height="30" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/template/index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Extra...
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/template/profil.html">Profil</a>
                <a class="dropdown-item disabled" href="/template/profilexport.html">Exporter profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item disabled" href="/template/synchro.html">Synchronisation données</a>
                <a class="dropdown-item" href="/template/competence.html">Compétences</a>
                <a class="dropdown-item" href="/template/formation.html">Formations</a>
                <a class="dropdown-item" href="/template/groupe.html">Groupes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item disabled" href="/template/genac.html">Imprimer GENAC</a>
              </div>
            </li>
            <li class="nav-item dropdown" style="min-width: 20rem">
              <button class="btn btn-outline-success dropdown-toggle" type="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Connexion
              </button>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <form class="px-4 py-3">
                  <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                  </div>
                  <div class="form-group">
                    <label for="exampleDropdownFormPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="dropdownCheck">
                      <label class="form-check-label" for="dropdownCheck">
                        Remember me
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
              </div>
            </li>
          </ul>
          <span class="navbar-text">
            Code is fun
          </span>
        </div>
      </nav>
    </div>
                
    <div class="container">
      <div class="card" style="margin-top: 2rem;margin-bottom: 2rem;">
        <div class="card-header">
          <h3>Profil</h3>
        </div>

        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputNom">Nom</label>
                <input type="text" class="form-control" id="inputNom" placeholder="Votre nom...">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPrenom">Prénom</label>
                <input type="text" class="form-control" id="inputPrenom" placeholder="Votre prénom...">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputPresentation">Présentation</label>
                <textarea class="form-control" id="inputPresentation" placeholder="hello world\n"  rows="5" cols="50"></textarea>
              </div>
            </div> 

            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="fileAvatar">Avatar</label>
                <input type="file" class="form-control-file" id="fileAvatar">
              </div>
              <div class="form-group col-md-8">
                <label for="inputSlogan">Slogan</label>
                <input type="text" name="inputSlogan" class="form-control" id="inputSlogan" value=""  placeholder="Released under GPL">                  
              </div>
            </div> 
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail">Email</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>
                  <input type="text" class="form-control" id="inputEmail" placeholder="email@example.com" aria-label="Email" aria-describedby="basic-addon1">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputGithub">Compte github</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">https://github.com/</span>
                  </div>
                  <input type="text" class="form-control" id="inputGithub" placeholder="Compte github" aria-label="Compte github" aria-describedby="basic-addon2">
                </div>
              </div>
            </div>


            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputWeb">Site web</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">https://</span>
                  </div>
                  <input type="text" class="form-control" id="inputWeb" placeholder="Site web" aria-label="Site web" aria-describedby="basic-addon3">
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputTechno">Technologies</label>
                <select id="inputTechno" class="form-control" multiple>
                  <option value='html'>HTML</option>
                  <option value='css'>CSS</option>
                  <option value='sass'>SASS</option>
                  <option value='js'>JS</option>
                  <option value='php'>PHP</option>
                  <option value='sql'>SQL</option>
                  <option value='linux'>GNU/Linux</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputTechnoPlus">Autre technologie</label>
                <input type="text" class="form-control" id="inputTechnoPlus" placeholder="Compléter la liste de technologies...">
              </div>
            </div>

            <div class="form-row">
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </form>
        </div>

        <div class="card-footer text-muted">
          <p>
          </p>
        </div>

      </div>
    </div>

   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  </body>
</html>